input, #login-div > button {
    width: 90%;
}
#login-div > * {
    margin: 5%;
}
#buzzer-light {
    position: fixed;
    top: 15%;
    bottom: 75%;
    left: 45%;
    right: 45%;
    width: 10%;
    height: 10%;
}
#buzz {
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 40%;
}
