body {
    height: 100vw;
}
.section {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#tubox,#tuarea {
    height: auto;
}
.bottom-div {
    float: bottom;
}
.input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}
